<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cadastrar Agendamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <div class="container my-5">
        <h3> Cadastrar Agendamento </h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/cadastrarAgendamento}" th:object="${agendamento}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                            <label for="contaOrigem" class="col-form-label">Conta de Origem</label>      <input th:required="true" type="number"  th:max="999999" onkeypress="if (this.value.length > 5) return false;" th:field="*{contaDeOrigem}" class="form-control" id="contaOrigemID" placeholder="XXXXXX"> <span th:if="${#fields.hasErrors('contaDeOrigem')}" th:errors="*{contaDeOrigem}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="contaDestino" class="col-form-label">Conta de Destino</label>       <input  th:required="true" type="number"  th:max="999999" onkeypress="if (this.value.length > 5) return false;" th:field="*{contaDeDestino}" class="form-control" id="contaDestinoID" placeholder="XXXXXX"> <span th:if="${#fields.hasErrors('contaDeDestino')}" th:errors="*{contaDeDestino}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="dataAgendamento" class="col-form-label">Data para agendamento</label>      <input th:required="true" type="date" th:field="*{dataAgendada}" class="form-control" id="dataAgendadaID" placeholder="DD/MM/YYYY"> <span th:if="${#fields.hasErrors('dataAgendada')}"  th:errors="*{dataAgendada}" class="text-danger"></span> 
                            </div>
                             <div class="form-group col-md-8">
                                <label for="valorTransferencia" class="col-form-label">Valor da Transferencia</label>     <input th:required="true" th:min="1"  type="number" th:field="*{valorDaTransferencia}" class="form-control" id="valorTransferenciaID" placeholder="0000,00"> <span th:if="${#fields.hasErrors('valorDaTransferencia')}" th:errors="*{valorDaTransferencia}" class="text-danger"></span> 
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Agendar Transferencia">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>